!!!
html
  head
    title= title || ''
    link(rel: 'stylesheet', href: '/css/reset.css' )
    link(rel: 'stylesheet', href: '/css/global.css' )
    script(src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
    script(src: '/js/loading.js')
    script(src: '/js/translate.js')
    script(src: '/js/global.js')
  body
    nav#header
      .wrapper
        #logo= options.title || 'dialect'
        a#logout(href: '/auth/logout') logout
        ul#locales
          -each loc in authorized_locales
            -if (loc !== dialect.config('base_locale'))
              li
                a(href: '/' + loc + '/', class: loc === locale ? 'selected' : '')
                  = loc
    .clearer

    .wrapper
      #content

        -messages = flash()
        -if (Object.keys(messages).length)
          #flash_messages
            -each msgs, type in messages
              div(class: 'box ' + type)
                h2= type
                ul
                  -each msg in msgs
                    li= msg

        != body
