input(type: 'hidden', name: 'current_locale', value: locale, id: 'current_locale')
input(type: 'hidden', name: 'base_locale', value: dialect.config('base_locale'), id: 'base_locale')

-if (category !== 'All')
  h2#breadcrumbs
    a(href: '/' + locale + '/') All
    &raquo;
    = category
-else if (locale !== dialect.config('base_locale'))
  -// TODO: Move this crap
  -var percent_ok = (count_ok / count) * 100;
  -var percent_pending = (count_pending / count) * 100;
  -var percent_missing = (count_missing / count) * 100;

  h3.bars
    = count + ' strings, '
    = count_ok + ' translated, '
    = count_pending + ' pending, '
    = count - count_ok - count_pending + ' missing'
  div.bars
    a.ok(href: '/' + locale + '/ok/', style: 'width:' + percent_ok + '%;') &nbsp
    a.pending(href: '/' + locale + '/pending/', style: 'width:' + percent_pending + '%;') &nbsp
    a.missing(href: '/' + locale + '/missing/', style: 'width:' + percent_missing + '%;') &nbsp
  .clearer

.clearer

-each translation in translations
  -var stat = translation.translation ? (translation.approved ? 'ok' : 'pending') : 'missing';
  form(action: '/' + locale + '/translate/', method: 'POST', class: stat + (can_approve ? ' can_approve' : ''), autocomplete: 'off')
    input(type: 'hidden', name: 'id', value: translation._id)
    .original
      = translation.original
    textarea.translation(name: 'translation')= translation.translation || ''

    .options
      a.get_original(href: '#')
        span get original
      a.autotranslate(href: '#')
        span autotranslate
      a.clean(href: '#')
        span clean
      a.reject(href: '#')
        span reject
      a.approve(href: '#')
        span approve
    .meta
      -if (translation.context)
        span.context
          |  Context:
          = translation.context

      -if (translation.plural)
        span.plural
          |  Plural form:
          = translation.plural
  .clearer

!= paginator
